 .u-section-1 {
  background-image: url("images/64f5ddb591f67b7db8bed4c5_Rectangle75.svg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 445px;
}

.u-section-1 .u-image-1 {
  width: 389px;
  height: 389px;
  margin: 56px 85px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -357px 586px 0 85px;
}

.u-section-1 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: 19px auto 0 85px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -25px 554px 0 117px;
}

.u-section-1 .u-text-3 {
  margin: 19px 554px 0 117px;
}

.u-section-1 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: -25px auto 60px 85px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 471px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 68px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -74px;
    margin-right: 454px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 68px;
    margin-right: 454px;
    margin-left: 17px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 251px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 251px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 251px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 71px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 65px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -71px;
    margin-right: 71px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 485px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 85px auto 0 127px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -299px 278px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: -25px 529px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 44px 0 586px;
}

.u-section-2 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: 18px 529px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -25px 311px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 12px 44px 0 586px;
}

.u-section-2 .u-icon-3 {
  width: 25px;
  height: 25px;
  margin: 14px 529px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -25px 295px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 18px 44px 58px 586px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-right: 437px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 437px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 437px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 213px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 335px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 210px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 335px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 238px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 210px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 335px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 226px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 251px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 251px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 179px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 251px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 158px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 158px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 113px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 158px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 107px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: url("images/Abstract-wave-png-1722.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 488px;
}

.u-section-3 .u-image-1 {
  width: 257px;
  height: 447px;
  margin: 41px 160px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -381px 952px 0 81px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-decoration: none solid rgb(118, 68, 70);
  margin: 25px 676px 0 83px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 979px 0 83px;
}

.u-section-3 .u-icon-1 {
  width: 23px;
  height: 23px;
  margin: -35px auto 0 150px;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -35px 805px 0 262px;
}

.u-section-3 .u-icon-2 {
  width: 23px;
  height: 23px;
  margin: -36px auto 0 335px;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 682px 0 260px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -45px 871px 60px 82px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 785px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 559px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 862px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 705px;
    margin-left: 162px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 276px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 562px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 753px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 601px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 642px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 595px;
    margin-left: 52px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 211px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 430px;
    margin-left: 199px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 533px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 451px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 159px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: 462px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-right: 467px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 20px;
    margin-left: 158px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 323px;
    margin-left: 149px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-right: 83px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 284px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 262px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 267px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 99px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 203px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 153px;
  }
}